/* 设置item的样式 */
.item {
  display: flex;
  margin: 16px 0;
  padding: 6px;
  background-color: #FCBF49;

}

.delete {
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
  cursor: pointer;
  transition:.3s;
}

.delete:hover {
  color:#D62828;
  /* transform: rotate(1turn); */
}